{{define "header"}}
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif' rel='stylesheet' type='text/css'>
    <link href="/css/styles.css" rel='stylesheet' type='text/css'>
    <style type="text/css">
    body { 
      font-family: 'Droid Sans', sans-serif;
      font-size: 13.33pt;
    }
    h1,h2,h3,h4,h5,h6 {
      font-family: 'Droid Serif', serif;
    }
    h1 {
      font-size: 33.33pt;
      font-weight: bold;
    }
    </style>
  </head>
{{end}}
